<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="图书馆管理系统.Properties.Settings.LibraryConnectionString"
            connectionString="Data Source=LANJIANCHENG-PC\SQLEXPRESS;Initial Catalog=Library;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>